<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon name="arrow-back-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
    <div style="display: flex; align-items: center; justify-content: center;">
      <img style="position: absolute; margin-left: -10%; height: 80px;" src="assets/images/letras_skinowE.png"
        alt="letrasSkiNow">
    </div>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" [fullscreen]="true">
  <div class="divPrincipal">
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          MÁS INFORMACIÓN
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div class="divCardContent">
          <p>Se trata de un servicio de enseñanza totalmente adaptado a las necesidades de cada
            usuario, donde se presta dedicación exclusiva y personalizada.</p>

          <p>Las clases particulares se ofrecen todos los días de la temporada, desde la apertura al
            cierre de la estación.</p>

          <p>Se recomienda reservar con suficiente antelación para poder disponer de los horarios que
            mejor se adapten a las necesidades de cada alumno.</p>

          <p>El titular de la reserva debe ser mayor de edad, y podrá inscribir tantos alumnos como
            desee en una misma reserva. El titular de la reserva no está inscrito por defecto en la
            clase particular, si desea participar en la clase particular deberá introducir también
            sus datos en el <strong>Paso 3 de 5: Añade alumnos a la reserva</strong>.</p>

          <p>En cada reserva, la fecha de la clase, la hora de inicio, la duración, la modalidad, el
            nivel, el punto de encuentro y el profesor serán comunes para los alumnos inscritos en
            una misma reserva. Si cualquiera de estos datos es distinto entre los alumnos, deberá
            realizar tantas reservas como precise.</p>

          <ul>
            <li><strong>Horarios</strong>: Tramos mínimos de 1 hora, desde las 9:00 horas hasta las
              17:00 horas</li>
            <li><strong>Niveles</strong>: A / B / C / D / E</li>
            <li><strong>Modalidades</strong>: Esquí o Snowboard</li>
          </ul>

          <p>Si necesita alquilar su material, le recomendamos realizar la reserva On-Line y así
            evitar colas.<br>
            <a class="divBoton"
              href="https://www.escuelafuentes.com/alquiler-de-equipos-y-material-de-esqui-en-fuentes-de-invierno">Alquiler
              de material</a>
          </p>
          
          <p>Os recordamos que, una vez formalizada la reserva On-Line, <strong><u>no es necesario que
                el titular de la reserva acceda al local de la Escuela</u></strong>. El día de
            la clase particular, <strong><u>el/los alumno/s debe/n dirigirse al número de punto del
                encuentro asignado</u></strong>, donde se encontrarán con su profesor. El
            profesor dispone de los datos de la clase en formato digital, por lo que no es necesario
            que el/los alumno/s presente/n el ticket.</p>

          <p>El titular de la reserva de la clase particular dispondrá de dos puntos de encuentro, uno
            situado en la zona media y otro en la zona baja de la Estación. Cada una de las dos
            zonas, dispone a su ves de señales numeradas con los puntos de encuentro de inicio / fin
            de la clase.</p>

          <p>En el momento de realizar la reserva, <u>recomendamos a aquellos alumnos que disponen de
              un nivel técnico medio y alto (niveles B, C, D y E) seleccionar el punto de
              encuentro en la zona media</u>.</p>

          <p>El titular de la reserva podrá opcionalmente elegir su profesor o permitir que nuestro
            programa le asigne uno aleatoriamente.</p>

          <p><strong><u>Una vez finalizada la reserva, el titular recibirá por correo electrónico el
                ticket con toda la información de la clase contratada. En dicho ticket se
                indicará el número del punto de encuentro y profesor asignado, así como todos
                los detalles de la clase.</u></strong></p>

          <p>La ubicación de los números puede consultarse en el siguiente mapa:<br>
            <a class="divBoton" href="https://www.escuelafuentes.com/puntos-de-encuentro">Ver mapa</a>
          </p>

          <h3><b>IMPORTANTE</b></h3>
          <p>Antes de contratar nuestros servicios, lea detenidamente las condiciones de
            contratación.</p>

          <p>Compruebe que los datos referentes a la reserva son correctos. El profesor acudirá
            directamente al punto de encuentro en los términos que figuren en el ticket. No es
            necesario que el titular ni los alumnos pasen previamente por la Escuela; deben
            dirigirse directamente al punto de encuentro indicado en la fecha y hora de la
            reserva.</p>

          <p>Los retrasos de los alumnos en las clases particulares por mal estado de la carretera
            (uso obligatorio de cadenas) o cualquier otra causa ajena a la escuela de esquí, no
            darán lugar a ningún tipo de compensación ni devolución. En caso de accesos por
            carretera cerrados, se actuará según las Condiciones de Contratación. Consulte las
            previsiones meteorológicas antes de realizar la reserva, y si no son de su agrado,
            le recomendamos no reservar con antelación y esperar al mismo día para contratar
            nuestros servicios directamente en nuestra oficina de la estación.</p>

          <p>Para el adecuado aprovechamiento les recomendamos no contratar clases particulares
            para niños (menores de 13 años) y adultos conjuntamente. Es preferible que niños y
            adultos reciban las clases por separado.</p>

          <p><b>Le recomendamos consultar nuestra <a class="divBoton2" href="https://www.escuelafuentes.com/docs/guia-nuevos-alumnos-eees-fuentes.pdf">GUÍA DEL USUARIO</a></b></p>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>