.divPrincipal {
    margin-bottom: 15%;
}

.divCardContent{
    text-align: justify;
}

p{
    margin-bottom: 5%;
}

span{
    font-size: small;
}

.divBoton{
    font-size: 12px;
    color: white;
    background-color: rgb(66, 140, 255);
    width: fit-content;
    padding: 1% 2%;
    border-radius: 5%;
    text-decoration: none;
}

.divBoton2{
    font-size: 12px;
    color: rgb(66, 140, 255);
    // background-color: rgb(66, 140, 255);
    width: fit-content;
    padding: 1% 2%;
    border-radius: 5%;
    // text-decoration: none;
}