.divPrincipal {
    margin-top: 15%
}

.divCardTitle {
    text-align: center;
}

.divCardTitle ion-card-title {
    font-size: 18pt;
    font-weight: bold;
}

.divBotones {
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-items: center;
    flex-direction: row;
}

.divTimeClass{
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-items: center;
    flex-direction: row;
}