<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon name="arrow-back-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
    <div style="display: flex; align-items: center; justify-content: center;">
      <img style="position: absolute; margin-left: -10%; height: 80px;" src="assets/images/letras_skinowE.png"
        alt="letrasSkiNow">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="card">
    <h2 class="divStepTitle">
      <ion-label color="primary">{{title}} Anuncio</ion-label>
    </h2>

    <div class="form-group">
      <label for="title">Titulo</label>
      <ion-item>
        <ion-textarea style="text-align: justify;" id="title" placeholder="Título del anuncio" 
        [(ngModel)]="ads.titulo" autoGrow="true"></ion-textarea>
      </ion-item>
    </div>

    <div class="form-group">
      <label for="description">Descripción</label>
      <ion-item>
        <ion-textarea style="text-align: justify;" id="description" placeholder="Descripción del anuncio" 
        [(ngModel)]="ads.descripcion" autoGrow="true"></ion-textarea>
      </ion-item>
    </div>

    <div class="divFieldMobile" (click)="saveImage()">
      <div class="image-container">
        <img [src]="ads.img" *ngIf="ads.img" class="image-preview" />
        <ion-icon name="add-circle" class="add-icon" *ngIf="!ads.img"></ion-icon>
      </div>
    </div>

    <div class="botonesModalEditar">
      <ion-button *ngIf="title=='Editar'" expand="block" color="danger" (click)="deleteAds()">
        <ion-icon name="trash" slot="start"></ion-icon>
        Borrar
      </ion-button>
      <ion-button *ngIf="title=='Editar'" expand="block" color="success" (click)="updateAds()">
        <ion-icon name="save" slot="start"></ion-icon>
        Actualizar
      </ion-button>
    </div>
    
    <div class="botonesModalCrear">
      <ion-button *ngIf="title=='Crear'" expand="block" color="primary" (click)="addAds()">
        <ion-icon name="save" slot="start"></ion-icon>
        Crear
      </ion-button>
    </div>

  </div>
</ion-content>