<ion-header>
  <ion-toolbar>
    <ion-title>
      Política de Privacidad
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text>
    <div style="padding: 5%; text-align: justify;">

      <h2 style="text-decoration: solid;">Términos y Condiciones</h2>
      <p>
        Bienvenido a Skinow, una aplicación móvil para gestionar clases y profesores de ski. Al utilizar nuestra
        aplicación, aceptas los siguientes términos y condiciones:
      </p>
      <p>
        1. <b>Propiedad intelectual:</b> Todo el contenido y la propiedad intelectual de la aplicación, incluyendo pero
        no limitado
        a código, imágenes, textos, gráficos, logos, sonidos, y marcas comerciales, son propiedad exclusiva de Skinow o
        sus respectivos dueños.
      </p>
      <p>
        2. <b>Uso de la aplicación:</b> Skinow es una herramienta para la gestión de clases y profesores de ski, y debe
        ser
        utilizada únicamente para fines lícitos y no comerciales. El uso de la aplicación para cualquier otro propósito,
        incluyendo pero no limitado a la recolección de datos o información personal de otros usuarios, está
        estrictamente
        prohibido.
      </p>
      <p>
        3. <b>Responsabilidad del usuario:</b> El usuario es responsable de cualquier información que proporcione en la
        aplicación,
        así como del uso que haga de la misma. Skinow no se hace responsable de cualquier contenido que publiquen los
        usuarios ni del uso indebido de la aplicación.
      </p>
      <p>
        4. <b>Modificaciones y actualizaciones:</b> Skinow se reserva el derecho de modificar, actualizar, suspender o
        interrumpir
        el servicio en cualquier momento y sin previo aviso.
      </p>
      <p>
        5. <b>Privacidad:</b> Al utilizar la aplicación, aceptas nuestra política de privacidad. Por favor, léela
        detenidamente antes de usar la aplicación.
      </p>
      <p>
        6. <b>Ley aplicable:</b> Estos términos y condiciones se regirán e interpretarán de acuerdo con las leyes de
        [país donde se establece la empresa], sin dar efecto a ninguna disposición sobre conflictos de leyes. Cualquier
        acción legal relacionada con estos términos y condiciones se llevará a cabo en los tribunales de [país donde se
        establece la empresa].
      </p>
      <h2>Política de privacidad</h2>

      <p>Skinow respeta la privacidad de sus usuarios y se compromete a proteger la información personal que recopila en
        la
        aplicación. Esta política de privacidad describe cómo se utiliza, almacena y protege su información personal.
      </p>
      <p>
        1. <b>Información que recopilamos:</b> Skinow recopila información personal como su nombre, dirección de correo
        electrónico
        y número de teléfono móvil. También podemos recopilar información sobre su ubicación geográfica y la información
        de inicio de sesión de su cuenta de redes sociales.
      </p>
      <p>
        2. <b>Uso de la información:</b> Utilizamos la información que recopilamos para proporcionar el servicio de la
        aplicación,
        incluyendo la gestión de clases y profesores de ski. También podemos utilizar su información para enviarle
        noticias y actualizaciones sobre Skinow.
      </p>
      <p>
        3. <b>Compartir información:</b> Skinow no comparte su información personal con terceros, salvo en los casos en
        que sea
        necesario para proporcionar el servicio de la aplicación o cuando la ley lo exija.
      </p>
      <p>
        4. <b>Seguridad de la información:</b> Tomamos medidas razonables para proteger la información personal de
        nuestros
        usuarios. Utilizamos medidas de seguridad técnicas y organizativas adecuadas para proteger la información
        personal
        de nuestros usuarios contra el acceso no autorizado, la divulgación, la alteración o la destrucción.
      </p>
      <p>
        5. <b>Derechos de propiedad intelectual:</b> Todo el contenido, diseño, código fuente, logos, imágenes, marcas
        registradas y
        demás elementos que formen parte de la aplicación móvil son propiedad exclusiva de la empresa o de sus
        respectivos
        propietarios, y están protegidos por las leyes de propiedad intelectual. Cualquier uso no autorizado de los
        mismos
        podrá dar lugar a las sanciones legales correspondientes.
      </p>
      <p>
        6. <b>Modificaciones y actualizaciones:</b> La empresa se reserva el derecho de modificar, actualizar o eliminar
        en
        cualquier momento y sin previo aviso las condiciones y políticas de privacidad de la aplicación móvil, así como
        el
        contenido y diseño de la misma.

      </p>
      <p>
        7. <b>Aceptación de las condiciones y políticas de privacidad:</b> Al descargar y utilizar la aplicación móvil,
        el usuario
        acepta las condiciones y políticas de privacidad establecidas por la empresa, y se compromete a respetarlas en
        todo momento.
      </p>
      <p>
        8. <b>Legislación aplicable y jurisdicción competente:</b> Las presentes condiciones y políticas de privacidad
        se regirán e
        interpretarán de acuerdo con la legislación española. Cualquier controversia que pudiera derivarse del acceso o
        uso de la aplicación móvil será sometida a los Juzgados y Tribunales competentes en cada caso.
      </p>
      <p>
        9. <b>Contacto:</b> En caso de cualquier duda, sugerencia o reclamación relacionada con las condiciones y
        políticas de
        privacidad de la aplicación móvil, el usuario podrá ponerse en contacto con la empresa a través de la dirección
        de
        correo electrónico info@skinow.com.
      </p>
    </div>
  </ion-text>
</ion-content>