ion-content::part(background) {
  background-image: url('../../../assets/images/bg_ski2.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}

.login-card {

  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);

  align-items: center;
  border: 1px solid;
  border-radius: 20px;
  padding: 15px;
  color: black;
  background-color: rgb(255, 255, 255, 0.6);
}

.logo_img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -30px;
}


.logo_img img {
  width: 80%;
}

.Inputsformulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inputLogin {
  margin-left: 10px;
  margin-right: 20px;
  margin-bottom: 10px;
}

ion-item::part(native) {
  background: transparent;
  color: #000000;
  margin-inline: 10px;
  margin-bottom: 10px;
}

.buttons {
  margin-inline: 10px;
}



.useroregister {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
}