.tablaUsers {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    font-size: 14px;
}

.label1 {
    margin-left: 10px;
}

.label2 {
    position: absolute;
    right: 0;
    margin-right: 10px;
}

ion-item::part(native) {
    background: #d6d6d617;
    border-color: dark;
    border-style: solid;
    border-width: 2px;

    border-radius: 10px;
    margin-bottom: 8px;
}

.divContenidoItems{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

ion-list.listDark {
    background-color: rgb(28, 28, 29);
}